@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Poppins:wght@300&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8DCAE2;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 70vw;
    height: 80vh;
    background-color: #72AABA; 
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    margin: 50px;   
    border: 3px solid #000000;
}

main div {
    display: flex;
    flex-direction: column;
}

a, a:link, :visited, :active{
    color: #1F2C66;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #A97554;
}

#contenedorTitulo {
    font-size: 36px;
    margin: 15px;
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    color: #573B26;
}


#labelInputPrecioOriginal {
    display: block;
    margin: 5px;
}

#labelInputPorcentajeDescuento {
    display: block;
    margin: 5px;
}

#labelInputSuscripcionPrecioOriginal {
    display: block;
    margin: 15px;
}

button {
    display: block;
    padding: 3px;
    margin: 5px;
}

#contenedorVerano20 {
    display: block;
}

#contenedorOtono25 {
    display: block;
}

#contenedorInvierno30 {
    display: block;
}

p {
    margin: 2px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: #0692F7;
}

div p {
    margin-top: 10px;
    margin-bottom: 70px;
}

#form3 label {
    display: block;
    margin: 5px;
}

#form4 label {
    display: block;
    margin: 5px;
}

ul {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

ul li {
    margin: 15px;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    background-color: #578491;
    border-radius: 10px;
    border: 2px solid #000000;
}

ul li:hover {
    background-color: #6397a5;
    border: 4px solid #000000;
}

ul li:visited {
    text-decoration: none;
    color: none;
}

ul li a {
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(169, 117, 84, 0.7);
    height: auto;
    margin-left: 8px;
    margin-right: 8px;
    width: 800px;
    text-align: center;
}



form p {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 10px;
    color: #045691;
}

#descuentosDiv {
    height: auto;
}

#descuentosDiv div #contenedorTitulo h1 {
    margin-top: -50px;
}

#descuentosDiv div {
    align-items: center;
}

#form4 {
    margin-bottom: 20px;
}