#labelInputPrecioOriginal {
    display: block;
    margin: 5px;
}

#labelInputPorcentajeDescuento {
    display: block;
    margin: 5px;
}

#labelInputSuscripcionPrecioOriginal {
    display: block;
    margin: 15px;
}

button {
    display: block;
    padding: 3px;
    margin: 5px;
}

#contenedorVerano20 {
    display: block;
}

#contenedorOtono25 {
    display: block;
}

#contenedorInvierno30 {
    display: block;
}

p {
    margin: 2px;
    font-size: 24px;
    text-decoration: underline;
}

#form3 label {
    display: block;
    margin: 5px;
}

#form4 label {
    display: block;
    margin: 5px;
}